In [15]:
#Using the Pandas library, perform the following tasks:

##| Name     | Age | Department   | Salary  |
   #|----------|-----|--------------|---------|
   #| John     | 28  | HR           | 45000   |
   #| Alice    | 34  | IT           | 60000   |
   #| Bob      | 23  | Marketing    | 35000   |
   #| Diana    | 29  | Finance      | 50000   |

import pandas as pd


data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}


df = pd.DataFrame(data)


print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000